$bgcolor: #e7e7e7;

$headline_font: 'Montserrat', arial, sans-serif;
$body_font: 'Roboto', arial, sans-serif;

* {
  margin:0;
  padding:0;
}

body {
  position: relative;
  background-color:$bgcolor;
  font-size:62.5%;
  width:100%;
  overflow-x:hidden;
}

.bg1 { background-color:#D4E6F7; }
.bg2 { background-color:#ABD3C6; }
.bg3 { background-color:#EDFFA8; }
.bg4 { background-color:#E5D7E8; }
.bg5 { background-color:#E5F9E7; }
.bg6 { background-color:#F9C7CC; }
.bg7 { background-color:#F9E0C7; }

header {
  background-color:white;
  padding:20px;
  width:100%;
  max-width:100%;
  box-sizing:border-box;

  h1 {
    font-family:$headline_font;
    font-size:8em;
    text-align:center;
  }
}

.noscroll {
  overflow: hidden;
}

.grid-wrap {
  margin: 0;
  width: 100%;
  padding: 20px;
  box-sizing:border-box;
}

.grid {
  position: relative;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* movies */

.movie {

	width: 20%;
	height: 400px;
    position:relative;
    display: inline-block;
    cursor: pointer;
    background-size:cover;
    border:10px solid;
    border-color:$bgcolor;
    box-sizing:border-box;
    background-color:#999;

    &:hover {
		border:none;

		.overlay,
		p.more-info a {
			display:block;
			-webkit-animation-name: fadeIn;
			animation-name: fadeIn;
		}

		p.more-info a {
			-webkit-animation-name: tada;
			animation-name: tada;
		}
    }

    h2 {
		font-family:$headline_font;
		color:#000;
		text-align:center;
		font-size:1.8em;
		padding:10px;
		position:absolute;
		bottom:0;
		width:100%;
		box-sizing:border-box;
		z-index:15;
    }

    .overlay {
		display:none;
		position:absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		background-color:rgba(0,0,0,.45);
		z-index:5;
    }

    p.more-info {
		position:absolute;
		text-align:center;
		top:50%;
		transform:translateY(-50%);
		z-index:10;
		width:100%;
		box-sizing: border-box;
    }

    p.more-info a {
		display:none;
		text-decoration: none;
		height:87px;
		width:75px;
		direction:ltr;
		text-indent:-9999px;
		overflow:hidden;
		background:transparent url(../images/detail.png) 0 0 no-repeat;
		margin:0 auto;
    }
}

.movie-details {

    display:flex;
    flex-direction: row;
    flex-wrap:wrap;

    .detail-image {
		width:30%;
		box-sizing:border-box;
		padding:40px 0 40px 40px;

		img {
			max-width:100%;
			max-height:100%;
			margin:0 auto;
			display: block;
			width:auto;
		}
    }

    .detail-info {
		width:70%;
		padding:40px;
		box-sizing:border-box;

		h2 {
			font-size:6em;
			font-family:$headline_font;
			color:#333;
			line-height:.9;
			margin-bottom:10px;
			word-wrap:break-word;
		}

		.meta {
			list-style:none outside;

			li {
				display:inline-block;
				margin:0 10px 5px 0;
				font-size:1.6em;
				color:#666;
			}
		}

		h4 {
			font-family:$headline_font;
			font-size:3em;
			color:#333;
			margin-top:40px;
			margin-bottom:20px;
			padding-bottom:5px;
			border-bottom:1px solid #ccc;
		}

		p {
			font-family:$body_font;
			font-size:1.6em;
			line-height:2;
		}

		ul {
			list-style:none outside;

			li {
				font-family:$body_font;
				font-size:1.6em;
				line-height:2;
			}
		}
    }
}

.ng-enter {
	animation: slideInRight 0.5s both ease-in;
	z-index: 8888;
}

.ng-leave {
	animation: slideOutLeft 0.5s both ease-in;
	z-index: 9999;
}

.cast li.ng-enter {
	animation: none;
}

.search {
	position:absolute;
	top:50px;
	right:50px;

	input {
		font-family: $body_font;
		font-size: 2.4em;
		padding: 5px 10px;
		border: 1px solid #dfdfdf;
	}
}

/* media queries */
@media screen and (max-width:1400px){
	.movie { height:400px; }
}

@media screen and (max-width:1000px){
	.movie { height:350px; }

	div.search {
		top:120px;
		left:50%;
		right:auto;
		transform: translateX(-50%);
	}

	.page.home {
		border-top:50px solid white;
	}
}

@media screen and (max-width:800px){
	.movie {
		height:325px;
		width:25%;
	}
}

@media screen and (max-width:720px){
	.movie {
		height:300px;
		width:33.333333%;
	}
	.movie-details .detail-image,
	.movie-details .detail-info {
		width:100%;
		padding:20px;
	}

	.movie-details .detail-image {
		margin:10px 0;
	}

	ul.meta {
		margin-top:20px;
	}

	ul.meta li {
		display:block;
		width:100%;
	}
}

@media screen and (max-width:640px){
  .movie {
    height:225px;
    width:50%;
  }
}