<div class="movie-details">
	<div class="detail-image">
		<img ng-src="{{ movie.posters.full }}" alt="{{ movie.title }} poster image">
	</div>
	<div class="detail-info">
		<h2>{{ movie.title }}</h2>
		<ul class="meta">
			<li>
				<strong>MPAA Rating: </strong> {{ movie.mpaa_rating }}</li>
			<li>
				<strong>Year: </strong> {{ movie.year }}</li>
			<li>
				<strong>Runtime: </strong> {{ movie.runtime }}</li>
			<li>
				<strong>Release Date: </strong> {{ movie.release_dates.theater }}</li>
		</ul>


		<h4>Ratings</h4>
		<ul>
			<li>
				<strong>Critics: </strong>{{ movie.ratings.critics_rating }} ({{ movie.ratings.critics_score }})
			</li>
			<li>
				<strong>Audience: </strong>{{ movie.ratings.audience_rating }} ({{ movie.ratings.audience_score }})
			</li>

		</ul>

		<h4>Synopsis</h4>
		<p>{{ movie.synopsis }}</p>

		<h4>Cast</h4>
		<ul class="cast">
			<li data-ng-repeat="actor in movie.abridged_cast">
				<strong>{{ actor.name }}</strong><span data-ng-show="actor.characters.length > 0"> as {{ actor.characters.join(', ') }}</span>
			</li>
		</ul>
	</div>
</div>